@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Handlee', cursive;
    font-size: 18px;
    color: white;
    background: rgb(227, 227, 227);
    animation: slidein 0.75s;
    min-width: 100vh;
    min-height: 100vh;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}


.video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: -1;
}


a {
    text-decoration: none;
    color: white;
}

.navbar {
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);

    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    margin: auto;
    padding: 2rem 1rem;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-flex;
    margin: 0 25px;
}

header {
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1850px;
    height: 150px;

    border-radius: 20px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

header h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scroller img {
    height: 400px;
    width: 400px;
}

.scroller {
    display: flex;
    align-items: center;
    justify-content: left;
    max-width: 1400px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 35s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}


.effet {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55.3vh;
}


.hidden{
    display: none;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.grid img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn{
    color: white;
    padding: 10px 18px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;

    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: #5e6164;
}


footer {
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);

    color: white;
    width: 100%;
    min-height: 80px;
}