@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Handlee', cursive;
    font-size: 18px;
    color: white;
    background: rgb(227, 227, 227);
    width: 100%;
    height: 100%;
    animation: slidein 0.75s;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: rotateX(-30deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
  }

.video-bg {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: -1;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);

    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    margin: auto;
    padding: 2rem 1rem;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-flex;
    margin: 0 25px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type=text], textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-left: 0px;
    resize: vertical;
}

label{
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

input[type=submit] {
    color: white;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

input[type=submit]:hover {
    background-color: #5e6164;
}

.formulaire {
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    max-width: 456px;
    margin: 35px;

    border-radius: 20px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
}

.envoyer{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #888681;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

footer{
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);

    color: white;
    width: 100%;
    height: 80px;
}